html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

#container {
    margin: 50px auto;
    width: 1000px;
    height: 600px;
    background: #3C3F41;
    border-radius: 10px;
    overflow: hidden;
}

#editor {
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 10px;
}