html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
    overflow: hidden;
    user-select: none;
}

* {
    box-sizing: border-box;
}

#container {
    margin: 50px auto;
    padding: 0;
    width: 70%;
    background: #252525;
    border-radius: 4px;
    overflow: hidden;
}

#toolbar {
    position: relative;
    display: block;
    width: 100%;
    height: 35px;
    z-index: 2;
    background: #252525;
    border-bottom: 1px solid #393939;
    padding: 3px;
}

.toolbar-btn {
    display: inline-block;
    height: 25px;
    border-radius: 4px;
    margin: 2px;
    color: #c0c0c0;
    line-height: 25px;
    text-align: center;
    border: 1px solid #393939;
    padding: 0 5px;
    cursor: pointer;

    &:hover {
        background-color: #585858;
        border-color: #909090;
    }

    &:active {
        background-color: rgba(88, 88, 88, 0.7);
    }

    &.square {
        width: 25px;
    }
}

#editor {
    margin: 0;
    height: 575px;
    z-index: 0;
    clear: both;
}

#statusbar {
    position: relative;
    display: block;
    height: 25px;
    background: #2d2d2d;
    width: 100%;
    box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.7);
    z-index: 1;
    padding: 0 10px;

    > span {
        color: #e8e8e8;
        font-size: 12px;
        line-height: 25px;
    }
}

#tabs {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.7);
    font-size: 0;
}

.tab {
    display: inline-block;
    margin: 0;
    padding: 8px 10px 5px;
    border-bottom: 1px solid #393939;
    font-size: 15px;
    background: #2d2d2d;

    &.active {
        border-bottom: none;
        background: #1e1e1e;

        &:not(:first-of-type) {
            border-left: 1px solid #393939;
        }

        &:not(:last-of-type) {
            border-right: 1px solid #393939;
        }

        .tab-title {
            color: #e8e8e8;
        }
    }

    &.unsaved .tab-title:after {
        content: ' *'
    }
}

.flt-right {
    float: right;
}

.flt-left {
    float: left;
}

.tab-title {
    color: #888888;
    pointer-events: none;
}

.tab-close {
    text-decoration: none;
    color: #e8e8e8;
    margin-left: 3px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #2d2d2d;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    width: 250px;
}

#openfile-list {
    background: #111111;
    border-radius: 4px;
    width: 100%;
    min-height: 120px;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    list-style-type: none;
    padding: 0;

    > li {

        > a {
            padding: 2px 5px;
            display: block;
            text-decoration: none;
            color: #e9e9e9;
        }

        &.active {
            background: rgba(217, 217, 217, 0.29);
        }
    }
}

.popup-btn {
    display: inline-block;
    border-radius: 4px;
    margin-top: 8px;
    color: #c0c0c0;
    line-height: 25px;
    text-align: center;
    border: 1px solid #4e4e4e;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: #585858;
        border-color: #909090;
    }

    &:active {
        background-color: rgba(88, 88, 88, 0.7);
    }
}